
<footer class="bg-light text-center text-lg-start" style="background-color: rgba(21, 226, 234, 0.2);">
  <!-- Copyright -->
  <div class="text-center p-4" >
    Shankar Deuja © 2022 Copyright:
    
  </div>
  
</footer>