
    
    <div class="loginbox">
        <section>
            <!-- heading -->
            <h1 class="text-center">Login form for the image upload Website</h1>
        </section>

        <form action="/users/login"
        method="POST"
        enctype="application/x-www-form-urlencoded">
            <label>Username:</label></br>
            <input type="text" name="username" required placeholder="Enter your Username" /></br>
            <label>Password:</label></br>
            <input type="Password" name="password" required placeholder="Enter your Password" /></br>

            <button type="submit" class="button">Login</button></br>
            <h3>No account? <a href="/registration">Register Now</a></h3>
        </form>
    </div>

